
<% @messages.each do |message| %>

<div class="message-wrapper row">
  <div class="col-sm-12">

    <!-- Message Summary (closed) -->
    <div class="message-summary row">
      <div class="col-auto check-col">
        <input type="checkbox" id="checkbox-num-<%=message.id%>" class="check-input" name="vehicle">
        <label for="checkbox-num-<%=message.id%>" class="check-label"></label>
        <span class="oi oi-star starred"></span>
        <span class="oi oi-media-play important-icon"></span>
      </div>

      <div class="col-sm-2 sender-col text-truncate expand">
        <span class="sender"><%= message.from.gsub(/\s*\<[^)]*\>/, '') %></span>
      </div>

      <div class="col text-truncate subject-body-col expand">
        <p class="subject-body-preview"><span class="subject"><%= message.subject %> - </span><span class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit condimentum. Aenean venenatis nibh a vulputate malesuada. Praesent condimentum dui quis pellentesque gravida.</span></p>
      </div>

      <div class="col-sm-1 date-col expand">
        <p class="date">4/29/2018</p>
      </div>
    </div>

    <!-- Message Details (expanded) -->
    <div class="message-detail row" style="display:none;">
      <div class="col-sm-6">
        <button class="details-btn btn dropdown-toggle" type="button" id="dropdownMenuButton-num" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="oi oi-info"></span>
        </button>

        <div id="details-menu-<%= message.id %>" class="dropdown-menu details-menu" aria-labelledby="dropdownMenuButton-num">
          <p class="dropdown-item" href="#"><span class="detail-heading">from: </span><span class="detail-heading-content from-email"><%= message.from %></span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">to: </span><span class="detail-heading-content"><%= message.to %></span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">subject: </span><span class="detail-heading-content"><%= message.subject %></span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">date: </span><span class="detail-heading-content">Fri, Apr 20, 2018 at 11:48 AM</span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">reply-to: </span><span class="detail-heading-content">mikejones@gmail.com</span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">mailed-by: </span><span class="detail-heading-content">gmail.com</span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">signed-by: </span><span class="detail-heading-content">gmail.com</span></p>
          <p class="dropdown-item" href="#"><span class="detail-heading">security: </span><span class="detail-heading-content"> Standard encryption (TLS)</span></p>
        </div>
      </div>

      <div class="message-menu col-sm-6">
        <!-- <button class="close-btn float-right btn" type="button" id="message-num">
          <span class="reply-icon oi oi-x"></span>
        </button> -->

        <button class="message-menu-btn float-right btn dropdown-toggle" type="button" id="message-menu-<%= message.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="reply-icon oi oi-ellipses"></span>
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="message-menu-<%= message.id %>">
          <a class="dropdown-item" href="/temporary_message/<%=message.id%>" data-remote="true">Reply</a>
          <a class="dropdown-item" href="/temporary_message/<%=message.id%>" data-remote="true">Forward</a>
          <a class="dropdown-item" href="#" value="<%= message.id %>">Delete</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Filter</a>
          <a class="dropdown-item" href="#">Print</a>
          <a class="dropdown-item" href="#">Add Contact</a>
          <a class="dropdown-item" href="#">Block</a>
          <a class="dropdown-item" href="#">Spam</a>
          <a class="dropdown-item" href="#">Mark Unread</a>
        </div>

        <!-- <button class="reply-btn float-right btn" type="button" id="message-num">
          <span class="reply-icon oi oi-share"></span>
        </button> -->
      </div>

      <div class="col-sm-12">
        <div class="container">
          <div class="email-message-subject col-sm-12">
            <h5><%= message.subject %></h5>
          </div>

          <div class="to-from-wrapper col-sm-12" style="width:100%">
              <%= image_tag "user-avatar.svg" %>

              <div class="to-from">
                <p><span>from: </span> <%= message.from.gsub(/\s*\<[^)]*\>/, '') %></p>
                <p><span>to: </span> <%= message.to.gsub(/\s*\<[^)]*\>/, '') %></p>
              </div>
          </div>

          <div class="email-message-body trix-content col-sm-12">
            <%= sanitize message.body %>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="container">
          <div id="form-wrapper-<%=message.id%>" class="col-sm-12 message-form-wrapper">
            <div class="fake-textarea-div col-sm-12">
              <p>Click to <span class="reply-link"><a href="/temporary_message/<%=message.id%>" data-remote="true"> reply </a></span> or <span class="forward-link"><a href="/temporary_message/<%=message.id%>" data-remote="true"> forward</a></span>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="delete-wrapper col-sm-12">
        <button class="delete-btn float-left btn collapse-up" type="button" id="">
          <span class="reply-icon oi oi-collapse-up"></span>
        </button>

        <button class="delete-btn float-right btn trash" type="button" id="">
          <span class="reply-icon oi oi-trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<% end %>


<!-- Message Success Modal -->
<div class="modal fade" id="success-message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your message has been sent.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Compose Message Modal -->
<div class="modal fade" id="compose-message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compose</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: message = Message.new, remote: true, class: "col-sm-12 reply-form pl-0 pr-0", id: "reply-form-one") do |form| %>
          <% if message.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

              <ul>
              <% message.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.hidden_field :id, :value => "one" %>

          <div class="field col-sm-12 pl-0 pr-0">
            <%= form.text_field :to, id: :message_to, class: "to-input" %>
            <%= form.trix_editor :body, id: :message_body %>
          </div>

          <div class="actions message-btns-wrapper">
            <%= form.submit "Send", class: "btn submit-message-btn" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(".message-wrapper").first().addClass("unread");
</script>






